{:itonami.blueprint/id "cloud-itonami-isic-4652"
 :itonami.blueprint/name "Wholesale of electronic and telecommunications equipment and parts"
 :itonami.blueprint/isic-rev5 "4652"
 :itonami.blueprint/domain :downstream/telecom-electronics-equipment-wholesale
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:national-security :supply-chain-integrity :transparency]
 :itonami.blueprint/governor :telecom-supply-chain-governor
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :optimization]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/robotics true
 :itonami.blueprint/maturity :implemented}
