{:kotoba.app/id "cloud.itonami.isic-4652", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreianvtqquux7wgw5kfmhyhzkeislehqazl6q42ac6yvqjrlszsinue", :kotoba.app/embed-url "ipfs://bafkreianvtqquux7wgw5kfmhyhzkeislehqazl6q42ac6yvqjrlszsinue", :published {:archive "https://kotobase.net/ipfs/bafkreianvtqquux7wgw5kfmhyhzkeislehqazl6q42ac6yvqjrlszsinue", :size 72969, :put-status 201, :get-status 200, :at "2026-08-15T13:35:39.140Z"}}
